body,html,div{
	padding:0px;
	margin:0px;
}
.content{
	width:100%;
	margin-top:-20px;
	background-color: white;
}
.oddn{
	background: white;	
}
.evenn{
	background: #B3F4FF;
}
.btn-group-right{
	float: right;
	margin-top:-6px;
	margin-right:-8px; 
}