.bgdiv{
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.title{
	position:absolute;
	top:50px;
	left:200px;
	font-size: 90px;
	font-weight: bolder;	
	font-family: '华文行楷';
	letter-spacing: 5px;
}
.row{
	position:absolute;
	top:250px;
	left:202px;
}