<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comle.menu">
	<select id="getMenuListData" parameterType="java.util.Map" resultType="java.util.Map" >
		select a.id,a.menuname,a.url,a.priority,case when a.ismenu = 1 then '是' 
            else '否' end  ismenu,a.pid,b.menuname pmenuname from t_sys_menu a left join t_sys_menu b on a.pid=b.id
            where a.isdisabled=0
            order by a.priority 
	</select>
	<!-- 查询父菜单 -->
	<select id="getMenuParentListData" parameterType="java.util.Map" resultType="java.util.Map" >
		select id,menuname from t_sys_menu where ismenu =1 and isdisabled=0 order by priority 
	</select>
	<!--菜单户插入 -->
	<insert id="insertMenu" parameterType="com.lion.echart.system.entity.MenuEntity">
           insert into t_sys_menu(menuname, url, ismenu, pid, createdate, remark, priority, status, isdisabled, operuser, operdate) 
               values(#{menuname}, #{url}, #{ismenu}, #{pid}, #{createdate}, #{remark}, #{priority}, #{status}, #{isdisabled}, #{operuser}, #{operdate})
   </insert>
   <!-- 通过用户查询权限下的菜单 -->
   <select id="getMenuListDataByUserId" parameterType="java.util.Map" resultType="java.util.Map" >
		select a.id,a.menuname,a.url,a.priority,a.ismenu,a.pid,b.menuname pmenuname from t_sys_menu a left join t_sys_menu b on a.pid=b.id
            where a.id in(select menuid from t_sys_role_menu where roleid in 
            (select roleid from t_sys_user_role 
            where 1=1 
            	<if test="userid != null and userid != ''">
					and userid = #{userid} 
				</if>
            )) and a.isdisabled=0
			order by a.priority 
	</select>
</mapper>